.ogBrick{
  display: inline-block;
  overflow: hidden;
  padding-bottom: 20px;
  position:relative;
}

.ogBrick .detail{
  position: absolute;
  background: rgba(255, 255, 255, .8);
  top: 0px;
  padding: 5px;
  right: 0px;
  left: 0px;
  height: 1.3em;
  overflow: hidden;
  -webkit-transition: all .1s ease-in-out;
}

.ogBrick:hover .detail{
  height: 4em;
  margin-bottom: 20px;
}

.brickImage img {
  min-width: 220px;
  min-height: 140px;
}

.container {
  width: 1260px;
}

.hidden-blockquote {
  display: none;
}