<div class="ogBrick span3" >
  <div class="brickImage" style="background-image: url({{image_url}});">
    <a href="{{url}}" target='_blank'>
        <img class="thumb" src="{{image_url}}">
    </a>
  </div>
  <div class='detail'>
    <h4><img class="favicon" width='16' height='16' src="{{favicon}}"/> {{title}}</h4>
    <span>{{timestamp}}</span>
    
    <div class='social'>
      <a class='facebook'>&nbsp;</a>
      <a class='twitter'>&nbsp;</a>
      <a class='pinterest'>&nbsp;</a>
      <a class='gplus'>&nbsp;</a>
    </div>
    
  </div>
  <blockquote class='{{blockquote-class}}'>{{description}}</blockquote>
</div>
