<div class="ogBrick span3" data-url="{{url}}">
  <div class="brickImage" style="background-image: url({{image_url}});position:relative;">
    <div style="position:absolute; left:0px; bottom:0px; height: 64px; width: 64px; background-size: cover; background-position:center; background-image: url(/images/play_overlay_button.png);" >  </div>
        <img class="thumb" src="{{image_url}}">
  </div>
  <div class='detail'>
    <h4><img class="favicon" width='16' height='16' src="{{favicon}}"/> {{title}}</h4>
    <span>{{timestamp}}</span>
    
    <div class='social'>
      <a class='share facebook' data-share="https://www.facebook.com/sharer.php?u=">&nbsp;</a>
      <a class='share twitter' data-share="http://twitter.com/share?url=">&nbsp;</a>
      <a class='share pinterest' data-share="http://pinterest.com/pin/create/button/?url=">&nbsp;</a>
      <a class='share gplus' data-share="https://plus.google.com/share?url=">&nbsp;</a>
    </div>
    
  </div>
  <blockquote class='{{blockquote-class}}'>{{description}}</blockquote>
</div>
